<a href="https://colab.research.google.com/github/hasanocal7/DS-Libs/blob/main/Pandas1_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

  Pandas, açık kaynaklı ve ücretsiz veri işleme, manipüle etme, temizleme ve 
benzeri işlemleri yapabileceğiniz oldukça efektif bir kütüphanedir.

  Pandas kütüphanesi NumPy kütüphanesi üzerine kurulmuş bir kütüphanedir.

  Pandas elimizdeki bilgiyi şekillendirip işlememize ve veriden anlamlı sonuçlar çıkarmamıza olanak sağlar.

  Pandas kütüphanesinin temel elemanları Series ve DataFrameler'dir.

  Series ve DataFrame nesneleri Excel tablolarına benzetilebilir.

# Pandas Import Etme

In [1]:
import pandas as pd

# Series Oluşturma

In [2]:
my_data = ['Hasan','Ahmet','Bekir','Özlem','Berna']
my_data

['Hasan', 'Ahmet', 'Bekir', 'Özlem', 'Berna']

In [ ]:
#pd.Series() fonksiyonu ile Series oluştururuz.

In [3]:
pd.Series(my_data)

0    Hasan
1    Ahmet
2    Bekir
3    Özlem
4    Berna
dtype: object

In [5]:
my_data=[1923,1776,1876]
my_idx=['Türkiye','USA','Canada']
pd.Series(my_data,my_idx)

Türkiye    1923
USA        1776
Canada     1876
dtype: int64

In [ ]:
#pd.Series() fonksiyonu içerisine dictionary de alabilir. Dictionary'nin keyleri index, value'ları değer olur.

In [6]:
my_dict={
    'Hasan':22,
    'Ahmet':28,
    'Bekir':23,
    'Özlem':29,
    'Berna':22
}

In [8]:
pd.Series(my_dict)

Hasan    22
Ahmet    28
Bekir    23
Özlem    29
Berna    22
dtype: int64

In [ ]:
# Soru : İstanbul 15.4 , İzmir 4.3 , Ankara 5.6 , Bursa 3 şeklinde seri oluşturun. Hem liste göndererek, 
# hem de dictionary göndererek iki yöntemle de yapın.

In [9]:
my_data = [15.4,4.3,5.6,3]
my_idx = ['İstanbul','İzmir','Ankara','Bursa']
pd.Series(my_data,my_idx)

İstanbul    15.4
İzmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

In [10]:
my_dict={
    'İstanbul': 15.4,
    'İzmir': 4.3,
    'Ankara': 5.6,
    'Bursa': 3
}
pd.Series(my_dict)

İstanbul    15.4
İzmir        4.3
Ankara       5.6
Bursa        3.0
dtype: float64

# Serilerde İşlemler

In [11]:
q1 = {
    'Japonya':80,
    'Çin': 450,
    'Türkiye':150,
    'Hindistan':200
}
q2 = {
    'Japonya':90,
    'Çin': 420,
    'Türkiye':230,
    'Hindistan':195
}

In [12]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [13]:
sales_q1

Japonya       80
Çin          450
Türkiye      150
Hindistan    200
dtype: int64

In [14]:
sales_q2

Japonya       90
Çin          420
Türkiye      230
Hindistan    195
dtype: int64

In [17]:
sales_total=sales_q1+sales_q2
sales_total

Japonya      170
Çin          870
Türkiye      380
Hindistan    395
dtype: int64

In [18]:
sales_total.index

Index(['Japonya', 'Çin', 'Türkiye', 'Hindistan'], dtype='object')

In [19]:
sales_total.keys()

Index(['Japonya', 'Çin', 'Türkiye', 'Hindistan'], dtype='object')

In [21]:
sales_total.values

array([170, 870, 380, 395])

In [22]:
sales_total * 2

Japonya       340
Çin          1740
Türkiye       760
Hindistan     790
dtype: int64

In [23]:
sales_total / 10

Japonya      17.0
Çin          87.0
Türkiye      38.0
Hindistan    39.5
dtype: float64

In [26]:
sales_q2 - sales_q1

Japonya      10
Çin         -30
Türkiye      80
Hindistan    -5
dtype: int64

In [27]:
q1 = {
    'Japonya':80,
    'Çin': 450,
    'Hindistan':150,
    'Amerika':200
}
q2 = {
    'Brezilya':90,
    'Çin': 420,
    'Hindistan':230,
    'Amerika':195
}

In [28]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [29]:
sales_q1

Japonya       80
Çin          450
Hindistan    150
Amerika      200
dtype: int64

In [30]:
sales_q2

Brezilya      90
Çin          420
Hindistan    230
Amerika      195
dtype: int64

In [31]:
sales_q1 + sales_q2

Amerika      395.0
Brezilya       NaN
Hindistan    380.0
Japonya        NaN
Çin          870.0
dtype: float64

In [33]:
sales_q1.add(sales_q2, fill_value=0)

Amerika      395.0
Brezilya      90.0
Hindistan    380.0
Japonya       80.0
Çin          870.0
dtype: float64

In [34]:
sales_q1.dtype

dtype('int64')

In [ ]:
# Soru : 
# Fenerbahce 51 , Galatasaray 60 , Besiktas 48 , Trabzonspor 41 şeklinde league_2022 adında bir seri oluşturun.
# Fenerbahce 73 , Galatasaray 68 , Besiktas 59 , Trabzonspor 81 şeklinde league_2021 adında bir seri oluşturun.
# Fenerbahce 82 , Galatasaray 84 , Besiktas 84 , Trabzonspor 71 şeklinde league_2020 adında bir seri oluşturun.

# Bu 4 takımın son 3 yılda topladığı toplam puanları karşılaştırabileceğiniz yeni bir seri oluşturun

In [36]:
league_2022 = pd.Series({'Fenerbahce': 51 , 'Galatasaray': 60 , 'Besiktas': 48 , 'Trabzonspor': 41})
league_2021 = pd.Series({'Fenerbahce': 73 , 'Galatasaray': 68 , 'Besiktas': 59 , 'Trabzonspor': 81})
league_2020 = pd.Series({'Fenerbahce': 82 , 'Galatasaray': 84 , 'Besiktas': 84 , 'Trabzonspor': 71})
league_2022 + league_2021 + league_2020

Fenerbahce     206
Galatasaray    212
Besiktas       191
Trabzonspor    193
dtype: int64

In [ ]:
#Done