<a href="https://colab.research.google.com/github/hasanocal7/DS-Libs/blob/main/veri_bilimi_icin_istatistik.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Veri Bilimi için İstatistik

# Örnek Teorisi

In [1]:
import numpy as np

In [2]:
populasyon = np.random.randint(0, 80, 10000)

In [3]:
populasyon[0:10]

array([33, 55, 21, 74, 40, 56, 61,  0, 15, 17])

In [4]:
#orneklem cekimi
np.random.seed(115)
orneklem = np.random.choice(a = populasyon, size = 100)
orneklem[0:10]

array([61, 48, 17, 74, 64, 37, 71, 56, 24, 72])

In [5]:
orneklem.mean()

40.71

In [6]:
populasyon.mean()

39.9547

In [7]:
#orneklem dağılımı

In [8]:
np.random.seed(10)
orneklem1 = np.random.choice(a = populasyon, size = 100)
orneklem2 = np.random.choice(a = populasyon, size = 100)
orneklem3 = np.random.choice(a = populasyon, size = 100)
orneklem4 = np.random.choice(a = populasyon, size = 100)
orneklem5 = np.random.choice(a = populasyon, size = 100)
orneklem6 = np.random.choice(a = populasyon, size = 100)
orneklem7 = np.random.choice(a = populasyon, size = 100)
orneklem8 = np.random.choice(a = populasyon, size = 100)
orneklem9 = np.random.choice(a = populasyon, size = 100)
orneklem10 = np.random.choice(a = populasyon, size = 100)

In [9]:
(orneklem1.mean() + orneklem2.mean() + orneklem3.mean() + orneklem4.mean() + orneklem5.mean() 
+ orneklem6.mean() + orneklem7.mean() + orneklem8.mean() + orneklem9.mean() + orneklem10.mean() )  / 10

40.538

In [10]:
orneklem1.mean()

42.5

In [11]:
orneklem2.mean()

39.33

# Betimsel İstatistikler

In [12]:
import seaborn as sns
tips = sns.load_dataset("tips")
df = tips.copy()
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [13]:
df.describe().T

            count       mean       std   min      25%     50%      75%    max
total_bill  244.0  19.785943  8.902412  3.07  13.3475  17.795  24.1275  50.81
tip         244.0   2.998279  1.383638  1.00   2.0000   2.900   3.5625  10.00
size        244.0   2.569672  0.951100  1.00   2.0000   2.000   3.0000   6.00

In [14]:
!pip install researchpy
import researchpy as rp

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting researchpy
  Downloading researchpy-0.3.5-py3-none-any.whl (33 kB)
Requirement already satisfied: patsy in /usr/local/lib/python3.9/dist-packages (from researchpy) (0.5.3)
Requirement already satisfied: statsmodels in /usr/local/lib/python3.9/dist-packages (from researchpy) (0.13.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from researchpy) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from researchpy) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from researchpy) (1.10.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->researchpy) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->researchpy) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy->researchpy) (1.16.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels->researchpy) (23.1)
Installing collected packages: researchpy
Successfully installed researchpy-0.3.5

In [15]:
rp.summary_cont(df[["total_bill","tip","size"]])

/usr/local/lib/python3.9/dist-packages/researchpy/summary.py:60: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

     Variable      N     Mean      SD      SE  95% Conf.  Interval
0  total_bill  244.0  19.7859  8.9024  0.5699    18.6633   20.9086
1         tip  244.0   2.9983  1.3836  0.0886     2.8238    3.1728
2        size  244.0   2.5697  0.9511  0.0609     2.4497    2.6896

In [16]:
rp.summary_cat(df[["sex","smoker","day"]])

/usr/local/lib/python3.9/dist-packages/researchpy/summary.py:225: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for ix, df_col in group1.iteritems():

  Variable Outcome  Count  Percent
0      sex    Male    157    64.34
1           Female     87    35.66
2   smoker      No    151    61.89
3              Yes     93    38.11
4      day     Sat     87    35.66
5              Sun     76    31.15
6             Thur     62    25.41
7              Fri     19     7.79

In [17]:
df[["tip","total_bill"]].cov()

                 tip  total_bill
tip         1.914455    8.323502
total_bill  8.323502   79.252939

In [18]:
df[["tip","total_bill"]].corr()

                 tip  total_bill
tip         1.000000    0.675734
total_bill  0.675734    1.000000

# İş Uygulaması: Fiyat Stratejisi Karar Destek

In [19]:
import numpy as np
fiyatlar = np.random.randint(10,110, 1000)

In [20]:
fiyatlar.mean()

58.492

In [21]:
import statsmodels.stats.api as sms

In [22]:
sms.DescrStatsW(fiyatlar).tconfint_mean()

(56.67953887736034, 60.30446112263965)

In [23]:
def yazdir(metin):
    print(metin, "program öğrenilecek")
 
yazdir("O")

O program öğrenilecek

In [24]:
print("metin", "program öğrenilecek")

metin program öğrenilecek

# Olasılık Dağılımları

## Bernoulli Dağılımı

${\displaystyle f(k;p)=p^{k}(1-p)^{1-k}\quad {\text{for }}k\in \{0,1\}}$


${\displaystyle \operatorname {E} \left(X\right)=p}$

$\operatorname {Var} [X]=pq=p(1-p)$

In [25]:
from scipy.stats import bernoulli

In [26]:
p = 0.6

In [27]:
rv = bernoulli(p)
rv.pmf(k = 0)

0.4

## Büyük Sayılar Yasası

**Bir rassal değişkenin uzun vadeli kararlılığını tanımlayan olasılık teoremidir.**

In [28]:
rng.randint(0, 2, size = 5)

NameError: ignored

In [ ]:
import numpy as np
rng = np.random.RandomState(123)
for i in np.arange(1,21):
    deney_sayisi = 2**i
    yazi_turalar = rng.randint(0, 2, size = deney_sayisi)
    yazi_olasiliklari = np.mean(yazi_turalar)
    print("Atış Sayısı:",deney_sayisi,"---",'Yazı Olasılığı: %.2f' % (yazi_olasiliklari * 100))

In [ ]:
1/5

## Binom Dağılımı

${\displaystyle f(k;n,p)={n \choose k}p^{k}(1-p)^{n-k}}$, k = 0, 1, 2, ...,n


${\displaystyle \operatorname {E} (X)=np}$


${\displaystyle \operatorname {Var} (X)=np(1-p)}$

In [ ]:
from scipy.stats import binom

In [ ]:
p = 0.01
n = 100
rv = binom(n, p)
print(rv.pmf(1))
print(rv.pmf(5))
print(rv.pmf(10))

## Poisson Dağılımı

${\displaystyle f(x,\lambda )={\frac {\lambda ^{x}e^{-\lambda }}{x!}}\,\!}$,  x = 0,1,2,...,n

In [ ]:
from scipy.stats import poisson

In [ ]:
lambda_ = 0.1

In [ ]:
rv = poisson(mu = lambda_)
print(rv.pmf(k = 0))

In [ ]:
print(rv.pmf(k = 3))

In [ ]:
print(rv.pmf(k = 5))

## Normal Dağılım

${\displaystyle f(x\mid \mu ,\sigma ^{2})={\frac {1}{\sqrt {2\pi \sigma ^{2}}}}e^{-{\frac {(x-\mu )^{2}}{2\sigma ^{2}}}}}$

* $\mu$  ortalama ya da dağılımın beklenen değeri

* ${\displaystyle \sigma }$  standart sapma

* ${\displaystyle \sigma ^{2}}$ varyans

In [ ]:
from scipy.stats import norm

In [ ]:
#90'dan fazla olması 
1-norm.cdf(90, 80, 5)

In [ ]:
#70'den fazla olması
1-norm.cdf(70, 80, 5)

In [ ]:
#73'den az olması
norm.cdf(73, 80, 5)

In [ ]:
#85 ile 90 arasında olması

In [ ]:
norm.cdf(90, 80, 5) - norm.cdf(85, 80, 5)

# Tek Örneklem T Testi

Örnek ortalamasına ilişkin test yapmak için kullanılır.

**Hipotezler:**

<d><i>H</i><sub>0</sub>: <i>μ</i> = <i>50</i></d>   
<d><i>H</i><sub>1</sub>: <i>μ</i> ≠ <i>50</i></d><br><br>

<d><i>H</i><sub>0</sub>: <i>μ</i> <= <i>50</i></d><br>
<d><i>H</i><sub>1</sub>: <i>μ</i> > <i>50</i></d><br><br>

<d><i>H</i><sub>0</sub>: <i>μ</i> >= <i>50</i></d><br>
<d><i>H</i><sub>1</sub>: <i>μ</i> < <i>50</i></d><br><br>




<table></table>

**Test İstatistiği:**

${\displaystyle t={\frac {{\bar {x}}-\mu _{0}}{\frac {s}{\sqrt {n}}}}}$

In [ ]:
import numpy as np

olcumler = np.array([17, 160, 234, 149, 145, 107, 197, 75, 201, 225, 211, 119, 
              157, 145, 127, 244, 163, 114, 145,  65, 112, 185, 202, 146,
              203, 224, 203, 114, 188, 156, 187, 154, 177, 95, 165, 50, 110, 
              216, 138, 151, 166, 135, 155, 84, 251, 173, 131, 207, 121, 120])

In [ ]:
olcumler[0:10]

In [ ]:
import scipy.stats as stats

In [ ]:
stats.describe(olcumler)

## Varsayımlar

In [ ]:
#normallik varsayımı

In [ ]:
#histogram
pd.DataFrame(olcumler).plot.hist();

In [ ]:
#qqplot
import pylab
stats.probplot(olcumler, dist="norm", plot=pylab)
pylab.show()

## Shapiro-Wilks Testi

H0: Örnek dağılımı ile teorik normal dağılım arasında ist. ol. anl. bir fark. yoktur

H1: ... fark vardır

In [ ]:
from scipy.stats import shapiro

In [ ]:
shapiro(olcumler)

In [ ]:
print("T Hesap İstatistiği: " + str(shapiro(olcumler)[0]))
print("Hesaplanan P-value: " + str(shapiro(olcumler)[1]))

## Hipotez Testinin Uygulanması

In [ ]:
stats.ttest_1samp(olcumler, popmean = 170)

H0: Web sitemizde geçirilen ortalama süre 170'tir
H1: .. değiştir

## Nonparametrik Tek Örneklem Testi

In [ ]:
from statsmodels.stats.descriptivestats import sign_test

In [ ]:
sign_test(olcumler, 170)

# Tek Örneklem Oran Testi

HO: p = 0.125 

H1: p != 0.125

In [ ]:
from statsmodels.stats.proportion import proportions_ztest

In [ ]:
count = 40
nobs = 500
value = 0.125

In [ ]:
proportions_ztest(count, nobs, value)

## Bağımsız İki Örneklem T Testi

H0: M1 = M2 

H1: M1 != M2

In [ ]:
#VERI TIPI I

In [ ]:
A = pd.DataFrame([30,27,21,27,29,30,20,20,27,32,35,22,24,23,25,27,23,27,23,
        25,21,18,24,26,33,26,27,28,19,25])

B = pd.DataFrame([37,39,31,31,34,38,30,36,29,28,38,28,37,37,30,32,31,31,27,
        32,33,33,33,31,32,33,26,32,33,29])


A_B = pd.concat([A, B], axis = 1)
A_B.columns = ["A","B"]

A_B.head()

In [ ]:
#VERI TIPI II

In [ ]:
A = pd.DataFrame([30,27,21,27,29,30,20,20,27,32,35,22,24,23,25,27,23,27,23,
        25,21,18,24,26,33,26,27,28,19,25])

B = pd.DataFrame([37,39,31,31,34,38,30,36,29,28,38,28,37,37,30,32,31,31,27,
        32,33,33,33,31,32,33,26,32,33,29])

#A ve A'nın grubu
GRUP_A = np.arange(len(A))
GRUP_A = pd.DataFrame(GRUP_A)
GRUP_A[:] = "A"
A = pd.concat([A, GRUP_A], axis = 1)

#B ve B'nin Grubu
GRUP_B = np.arange(len(B))
GRUP_B = pd.DataFrame(GRUP_B)
GRUP_B[:] = "B"
B = pd.concat([B, GRUP_B], axis = 1)

#Tum veri
AB = pd.concat([A,B])
AB.columns = ["gelir","GRUP"]
print(AB.head())
print(AB.tail())

In [ ]:
import seaborn as sns
sns.boxplot(x = "GRUP", y = "gelir", data = AB);

## Varsayım Kontrolü

In [ ]:
A_B.head()

In [ ]:
AB.head()

In [ ]:
#normallik varsayımı

In [ ]:
from scipy.stats import shapiro

In [ ]:
shapiro(A_B.A)

In [ ]:
shapiro(A_B.B)

In [ ]:
#varyans homojenligi varsayımı

H0: Varyanslar Homojendir

H1: Varyanslar Homojen Değildir

In [ ]:
stats.levene(A_B.A, A_B.B)

## Hipotez Testi

In [ ]:
stats.ttest_ind(A_B["A"], A_B["B"], equal_var = True)

In [ ]:
test_istatistigi, pvalue = stats.ttest_ind(A_B["A"], A_B["B"], equal_var=True)
print('Test İstatistiği = %.4f, p-değeri = %.4f' % (test_istatistigi, pvalue))

## Nonparametrik Bağımsız İki Örneklem Testi

In [ ]:
stats.mannwhitneyu(A_B["A"], A_B["B"])

In [ ]:
test_istatistigi, pvalue = stats.mannwhitneyu(A_B["A"], A_B["B"])
print('Test İstatistiği = %.4f, p-değeri = %.4f' % (test_istatistigi, pvalue))

# Bağımlı İki Örneklem T Testi

In [ ]:
oncesi = pd.DataFrame([123,119,119,116,123,123,121,120,117,118,121,121,123,119,
            121,118,124,121,125,115,115,119,118,121,117,117,120,120,
            121,117,118,117,123,118,124,121,115,118,125,115])

sonrasi = pd.DataFrame([118,127,122,132,129,123,129,132,128,130,128,138,140,130,
             134,134,124,140,134,129,129,138,134,124,122,126,133,127,
             130,130,130,132,117,130,125,129,133,120,127,123])

In [ ]:
oncesi[0:5]

In [ ]:
sonrasi[0:5]

In [ ]:
 np.arange(len(oncesi))

In [ ]:
#BIRINCI VERI SETI
AYRIK = pd.concat([oncesi, sonrasi], axis = 1)
AYRIK.columns = ["ONCESI","SONRASI"]
print("'AYRIK' Veri Seti: \n\n ", AYRIK.head(), "\n\n")


#IKINCI VERI SETI
#ONCESI FLAG/TAG'INI OLUSTURMA
GRUP_ONCESI = np.arange(len(oncesi))
GRUP_ONCESI = pd.DataFrame(GRUP_ONCESI)
GRUP_ONCESI[:] = "ONCESI"
#FLAG VE ONCESI DEGERLERINI BIR ARAYA GETIRME
A = pd.concat([oncesi, GRUP_ONCESI], axis = 1)
#SONRASI FLAG/TAG'INI OLUSTURMA
GRUP_SONRASI = np.arange(len(sonrasi))
GRUP_SONRASI = pd.DataFrame(GRUP_SONRASI)
GRUP_SONRASI[:] = "SONRASI"

#FLAG VE SONRASI DEGERLERINI BIR ARAYA GETIRME
B = pd.concat([sonrasi, GRUP_SONRASI], axis = 1)

#TUM VERIYI BIR ARAYA GETIRME
BIRLIKTE = pd.concat([A,B])
BIRLIKTE

#ISIMLENDIRME
BIRLIKTE.columns = ["PERFORMANS","ONCESI_SONRASI"]
print("'BIRLIKTE' Veri Seti: \n\n", BIRLIKTE.head(), "\n")

In [ ]:
import seaborn as sns
sns.boxplot(x = "ONCESI_SONRASI", y = "PERFORMANS", data = BIRLIKTE);

## Varsayım Kontrolleri

In [ ]:
from scipy.stats import shapiro

In [ ]:
shapiro(AYRIK.ONCESI)

In [ ]:
shapiro(AYRIK.SONRASI)

In [ ]:
import scipy.stats as stats
stats.levene(AYRIK.ONCESI, AYRIK.SONRASI)

## Hipotez Testi

In [ ]:
stats.ttest_rel(AYRIK.ONCESI, AYRIK.SONRASI)

In [ ]:
test_istatistigi, pvalue = stats.ttest_rel(AYRIK["ONCESI"], AYRIK["SONRASI"])
print('Test İstatistiği = %.5f, p-değeri = %.5f' % (test_istatistigi, pvalue))

## Nonparametrik Bağımlı İki Örneklem Testi

In [ ]:
stats.wilcoxon(AYRIK.ONCESI, AYRIK.SONRASI)

In [ ]:
test_istatistigi, pvalue = stats.wilcoxon(AYRIK["ONCESI"], AYRIK["SONRASI"])

print('Test İstatistiği = %.4f, p-değeri = %.4f' % (test_istatistigi, pvalue))

## İki Örneklem Oran Testi

In [ ]:
from statsmodels.stats.proportion import proportions_ztest

In [ ]:
import numpy as np
basari_sayisi = np.array([300, 250])
gozlem_sayilari = np.array([1000, 1100])

In [ ]:
proportions_ztest(count = basari_sayisi, nobs = gozlem_sayilari)

# Varyans Analizi

H0: M1 = M2 = M3 (grup ortalamalari arasinda ist anl. farklilik yoktur) 

H1: Fark vardir.

In [ ]:
A = pd.DataFrame([28,33,30,29,28,29,27,31,30,32,28,33,25,29,27,31,31,30,31,34,30,32,31,34,28,32,31,28,33,29])

B = pd.DataFrame([31,32,30,30,33,32,34,27,36,30,31,30,38,29,30,34,34,31,35,35,33,30,28,29,26,37,31,28,34,33])

C = pd.DataFrame([40,33,38,41,42,43,38,35,39,39,36,34,35,40,38,36,39,36,33,35,38,35,40,40,39,38,38,43,40,42])

dfs = [A, B, C]

ABC = pd.concat(dfs, axis = 1)
ABC.columns = ["GRUP_A","GRUP_B","GRUP_C"]
ABC.head()

## Varsayım Kontrolü

In [ ]:
from scipy.stats import shapiro

In [ ]:
shapiro(ABC["GRUP_A"])

In [ ]:
shapiro(ABC["GRUP_B"])

In [ ]:
shapiro(ABC["GRUP_C"])

In [ ]:
stats.levene(ABC["GRUP_A"], ABC["GRUP_B"],ABC["GRUP_C"])

## Hipotez Testi

In [ ]:
from scipy.stats import f_oneway

In [ ]:
f_oneway(ABC["GRUP_A"], ABC["GRUP_B"],ABC["GRUP_C"])

In [ ]:
print('{:.5f}'.format(f_oneway(ABC["GRUP_A"], ABC["GRUP_B"],ABC["GRUP_C"])[1]))

In [ ]:
ABC.describe().T

## Nonparametrik Hipotez Testi

In [ ]:
from scipy.stats import kruskal

In [ ]:
kruskal(ABC["GRUP_A"], ABC["GRUP_B"],ABC["GRUP_C"])

## Korelasyon Analizi

Bahşiş veri seti:

total_bill: yemeğin toplam fiyatı (bahşiş ve vergi dahil)

tip: bahşiş

sex: ücreti ödeyen kişinin cinsiyeti (0=male, 1=female)

smoker: grupta sigara içen var mı? (0=No, 1=Yes)

day: gün (3=Thur, 4=Fri, 5=Sat, 6=Sun)

time: ne zaman? (0=Day, 1=Night)

size: grupta kaç kişi var?

In [ ]:
import seaborn as sns
tips = sns.load_dataset('tips')
df = tips.copy()
df.head()

In [ ]:
df["total_bill"] = df["total_bill"] - df["tip"]

In [ ]:
df.head()

In [ ]:
df.plot.scatter("tip","total_bill");

# Varsayım Kontrolü

In [ ]:
from scipy.stats import shapiro

In [ ]:
test_istatistigi, pvalue = shapiro(df["tip"])
print('Test İstatistiği = %.4f, p-değeri = %.4f' % (test_istatistigi, pvalue))

test_istatistigi, pvalue = shapiro(df["total_bill"])
print('Test İstatistiği = %.4f, p-değeri = %.4f' % (test_istatistigi, pvalue))

# Hipotez Testi

### Korelasyon Katsayısı

In [ ]:
df["tip"].corr(df["total_bill"])

In [ ]:
df["tip"].corr(df["total_bill"], method = "spearman")

### Korelasyonunu Anlamlılığının Testi

In [ ]:
from scipy.stats.stats import pearsonr

In [ ]:
test_istatistigi, pvalue = pearsonr(df["tip"],df["total_bill"])

print('Korelasyon Katsayısı = %.4f, p-değeri = %.4f' % (test_istatistigi, pvalue))

## Nonparametrik Hipotez Testi

In [ ]:
from scipy.stats import stats
stats.spearmanr(df["tip"],df["total_bill"])

In [ ]:
test_istatistigi, pvalue = stats.spearmanr(df["tip"],df["total_bill"])

print('Korelasyon Katsayısı = %.4f, p-değeri = %.4f' % (test_istatistigi, pvalue))

In [ ]:
test_istatistigi, pvalue = stats.kendalltau(df["tip"],df["total_bill"])

print('Korelasyon Katsayısı = %.4f, p-değeri = %.4f' % (test_istatistigi, pvalue))